<div class="container text-center">

  <h1 class="text-center field-margin-md"><%="#{current_user.first_name} #{current_user.last_name}"%>'s Likes</h1>

  <h2 class="text-center field-margin-md">Search Liked Posts</h1>
    <!-- In future: make filter_method 0 more elegant -->
  <%= render 'common/search', {articles:@articles, filter_method:1} %>

  <div id="articles">
    <%= render 'common/list_user_posts', articles: @articles %>
  </div>

</div>
