
<div class="container-fluid">
  <div class="jumbotron welcome-page-head">
      <h1 class="field-margin-lg">Welcome to Nutz - The IG for Squirrels!</h1>
      <h2 class=" field-margin-lg">Please sign up to get started; or log in if you're an existing user.</h2>
      <div class="form-inline">
        <%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-success btn-lg", style:"color:white" %>
        <%= link_to 'Log-in', new_user_session_path, class: "btn btn-success btn-lg", style:"color:white" %>
      </div>
  </div>
</div>
